{% load staticfiles %}
<html>
        <head>
            <title>Django Girls blog</title>
             <link rel="stylesheet" href="{% static 'css/blog.css' %}">
             <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
             <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

        </head>
        <body>
            <nav class="indigo">
                  <div class="nav-wrapper">
                        <a href="#" class="brand-logo">Deivid Blog</a>
                        <ul class="right hide-on-med-and-down">
                              <li><a href="#"><i class="mdi-navigation-arrow-drop-down right"></i></a></li>
                        </ul>
                  </div>
            </nav>
            <div class="container">
            {% for post in posts %}
                  <div class="row">
                        <div class="col s12 m4">
                              <div class="card z-depth-2 medium">
                                    <div class="card-image">
                                          <img src="{% static 'img/sample.jpg'%}" alt="">
                                    </div>
                                    <div class="card-content">
                                          <span class="card-title activator grey-text text-darken-4">{{post.title}}</span>
                                          <p><a href="#">This is a link</a></p>
                                    </div>

                              </div>
                        </div>
                        <!-- <p>publicado: {{ post.published_date }}</p>
                        <h1><a href="">{{ post.title }}</a></h1>
                        <p>{{ post.text|linebreaks }}</p> -->
                  </div>
            {% endfor %}
            </div>
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        </body>
</html>
